<% layout("./layouts/boilerplate") -%>

<body>
    <br>
    <div class="row">
        <div class="col-7 offset-2">
            <h3>Create a New Listing</h3>
    <br>
    <form action="/listing" method="POST" novalidate class="needs-validation">
        <div >
            <label for="title" class="form-label">Title</label>
            <input type="text" name="listing[title]" placeholder="Enter Title" class="form-control" required>
            <div class="valid-feedback">Title looks good</div>
        </div>
            <br>
        <div>
            <label for="description" class="form-label">Description</label>
            <input type="textarea" name="listing[description]" placeholder="Enter Description" class="form-control" required>
            <div class="invalid-feedback">Please enter a valid description.</div>

        </div>
            <br>
        <div>
            <label for="image" class="form-label">Image Link</label>
            <input type="text" name="listing[image.url]" placeholder="Enter image URL/Link" class="form-control" required>
        </div>
            <br>
        
        <div class="row">
            <div class="col-md-4">
                <label for="price" class="form-label">Price</label>
                <input  name="listing[price]" placeholder="Enter Price" class="form-control" required>
                <div class="invalid-feedback">Price should be valid</div>
            </div>
                <br>
                <br>
            <div class="col-md-8">
                <label for="country" class="form-label">Country</label>
                <input type="text" name="listing[country]" placeholder="Enter country" class="form-control" required>
                <div class="invalid-feedback">Country should be valid</div>

            </div>
        </div>

            <br>
        <div>
            <label for="location" class="form-label">Location</label>
            <input type="text" name="listing[location]" placeholder="Enter location" class="form-control" required>
            <div class="invalid-feedback">Location should be valid</div>
            
        </div>
        
        <hr>
        <button class="btn btn-dark add-btn">Add</button>
        <br><br>
    </form>
        </div>
    </div>
    
</body>
