
body {

    /* font-family: "Plus Jakarta Sans", sans-serif !important; */
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

/* Navbar */
.navbar {
    height : 4rem;
    background-color: white;
}

.nav-link {
    background-color: white;
}

.fa-compass {
    color: #fe424d !important;
    font-size : 2rem;
}

.nav-link {

    color: #222222 !important;

}

.f-info-links a{
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover {
    text-decoration: underline;
    color: #222222;
}

.f-info-links {
    width: 100%;
}

.f-info-socials {
    width: 100%;
    font-size: 1.2 rem;
    margin-right: 1 rem;
}

.f-info {
    
    background-color: rgb(207, 204, 204);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
    text-align: center;


    
}

.card {

    border: none !important;
    margin-bottom: 2rem;


}

.card-img-top {
    border-radius:  1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body{
    padding: 0 !important;
}

.card-text p {
    font-weight: 400;
}

.listing-links {
    text-decoration: none !important;
}

/* Card effect */

.card-img-overlay {
    opacity: 0;
}

.card-img-overlay:hover {
    opacity: 0.2;
    background-color: white;
}


.add-btn {
    background-color: #fe424d !important;
    border: none !important;
}

.container {
    flex:  1 ;
}


.footer {
    margin-bottom: 0 !important;
}

.edit-btn {
    background-color: #fe424d !important;
    border: none !important;
}

/* Show Page */

.show-img {
    height: 40vh;
}

.btns {
    display: flex;
}

.show-card {
    padding-left: 0;
    padding-right: 0;
}